/*=================================================================*/
/*                      BASE                              
/*=================================================================*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#b8b9be; 
  border-radius: 10px;
  /* box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #282642; 
}


* {
  margin: 0;
  padding: 0;
  /* transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important; */
  transition: all 0.3s ease-in-out !important;
  /* cursor: url(https://ani.cursors-4u.net/nature/nat-11/nat1042.ani), url(https://ani.cursors-4u.net/nature/nat-11/nat1037.png), auto !important; */
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat922.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat922.png), auto !important;
}
/* Start https://www.cursors-4u.com */  /* End https://www.cursors-4u.com */

html {
  margin: 0 !important;
  overflow: auto !important;
}

body {
  color: #5E5C7F;
  background-color: #e0e5ec;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

