/*=================================================================*/
/*                      TESTIMONIALS                              
/*=================================================================*/
.testimonials-wrapper {
  max-width: 700px;
  margin: auto;
}

.testimonial-item {
  padding: 0 20px 20px;
}
.testimonial-item .thumb {
  border-radius: 50%;
  overflow: hidden;
  height: 90px;
  width: 90px;
}
.testimonial-item .subtitle {
  color: #8B88B1;
  font-size: 14px;
}
.testimonial-item p {
  font-size: 16px;
}

