/*=================================================================*/
/*                      BLOG                              
/*=================================================================*/
.blog-item {
  overflow: hidden;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-item:hover {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(-10px);
}
.blog-item .thumb {
  position: relative;
  overflow: hidden;
}
.blog-item .thumb img {
  filter: opacity(0.5);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-item .thumb:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.blog-item .category {
  background: #FF4C60;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #FFF;
  font-size: 14px;
  padding: 2px 8px;
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 1;
  text-shadow: 4px 4px 8px #575d79, -4px -4px 8px #c83f56;
}
.blog-item .category.light {
  text-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}
.blog-item .details {
  padding: 20px;
}
.blog-item .details h4.title {
  font-size: 20px;
}
.blog-item .details h4.title a {
  color: #353353;
  text-shadow: 4px 4px 8px #575d79, -4px -4px 8px #1b1a35;
}
.blog-item .details h4.title a.light {
  text-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}
.blog-item .details h4.title a:hover {
  color: #FF4C60;
}
.blog-item .meta {
  font-size: 14px;
  color: #8B88B1;
}
.blog-item .meta li:not(:last-child) {
  margin-right: 0.6rem;
}
.blog-item .meta li:after {
  content: "";
  background: #8B88B1;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin-left: 0.6rem;
  vertical-align: middle;
  width: 3px;
}
.blog-item .meta li:last-child::after {
  display: none;
}

.blog-page-section {
  background-color: #e0e5ec;
  padding-bottom: 70px;
}
.blog-page-section .blog-img-text {
  padding: 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
.blog-page-section .blog-text-title h4 {
  font-size: 30px;
}
.blog-page-section .blog-text-title h4 a {
  color: #454360;
}
.blog-page-section .blog-text-title h4 a:hover {
  color: #FF4C60;
}
.blog-page-section .blog-pagination {
  margin: 60px 0px 40px;
}
.blog-page-section .blog-pagination ul li {
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
.blog-page-section .blog-pagination ul li a {
  width: 100%;
  display: block;
  font-weight: 500;
  border-radius: 100%;
}
.blog-page-section .blog-pagination ul li a:hover {
  background-color: #FF4C60;
}
.blog-page-section .blog-standard {
  margin-bottom: 30px;
}
.blog-page-section .blog-standard .meta {
  font-size: 14px;
  color: #8b88b1;
}
.blog-page-section .blog-standard .meta li:after {
  content: "";
  background: #8b88b1;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin-left: 0.6rem;
  vertical-align: middle;
  width: 3px;
}
.blog-page-section .blog-standard .meta li:last-child:after {
  display: none;
}
.blog-page-section .blog-standard .meta li:not(:last-child) {
  margin-right: 0.6rem;
}
.blog-page-section .blog-standard .meta li a {
  color: #353353;
}
.blog-page-section .blog-standard .meta li a:hover {
  color: #ff4c60;
}
.blog-page-section .br-more a {
  border-radius: 60px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  padding: 12px 32px;
  color: #fff;
  background: #ff4c60;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.blog-page-section .br-more a:hover {
  color: #fff;
  -webkit-animation-name: button-push;
  animation-name: button-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.blog-page-section .widget {
  margin-bottom: 30px;
  padding: 20px;
}
.blog-page-section .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.blog-page-section .widget .searchform input[type=text] {
  border-radius: 30px;
  border: 0;
  background: #e0e5ec;
  padding: 6px 20px;
  max-width: 190px;
}
.blog-page-section .widget .searchform input[type=submit] {
  color: #fff;
  background: #ff4c60;
  border-radius: 25px;
  padding: 5px 20px;
  border: 0;
  cursor: pointer;
}
.blog-page-section .shadow-dark, .blog-page-section .form-control, .blog-page-section .desktop-header-3 .dropdown-menu, .desktop-header-3 .blog-page-section .dropdown-menu {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
.blog-page-section .widget-header {
  margin-bottom: 15px;
  margin-top: 0;
}
.blog-page-section .widget ul {
  padding-left: 1.1rem;
}
.blog-page-section .blog-single {
  background: #e0e5ec;
  padding: 30px;
  border-radius: 20px;
}
.blog-page-section .comment-respond {
  margin-top: 2.5rem;
  border-top: solid 1px #eee;
  clear: both;
}
.blog-page-section .comment-respond .comment-notes {
  font-style: italic;
}
.blog-page-section .comment-respond label {
  display: block;
  margin-bottom: 0.5rem;
}
.blog-page-section .comment-respond textarea,
.blog-page-section .comment-respond input[type=text],
.blog-page-section .comment-respond input[type=email],
.blog-page-section .comment-respond input[type=url] {
  border-radius: 30px;
  border: 0;
  background: #e0e5ec;
  padding: 6px 20px;
  outline: 0;
  max-width: 100%;
}
.blog-page-section .comment-respond textarea {
  height: 10rem;
}
.blog-page-section .comment-form-cookies-consent {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-page-section .comment-respond input[type=checkbox] + label {
  font-size: 14px;
  margin-left: 10px;
}
.blog-page-section .comment-respond input[type=submit] {
  border-radius: 60px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  padding: 12px 32px;
  color: #fff;
  background: #ff4c60;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: none;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.blog-page-section .comment-respond input[type=submit]:focus {
  outline: none;
}
.blog-page-section .comment-respond input[type=submit]:hover {
  color: #fff;
  -webkit-animation-name: button-push;
  animation-name: button-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.blog-page-section .comment-area-section {
  padding-bottom: 10px;
}
.blog-page-section .comment-area-section h3 {
  margin: 0;
  padding-bottom: 30px;
}
.blog-page-section .comment-area-section .comment-inner-box {
  margin-bottom: 40px;
}
.blog-page-section .comment-area-section .comment-inner-box.reply-comment {
  margin-left: 50px;
}
.blog-page-section .comment-area-section .comment-inner-box .comment-author-img {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 20px;
}
.blog-page-section .comment-area-section .comment-inner-box .comment-author-text {
  overflow: hidden;
}
.blog-page-section .comment-area-section .comment-inner-box .comment-author-text h4 {
  margin: 0;
  padding-bottom: 5px;
}
.blog-page-section .comment-area-section .comment-inner-box .comment-author-text span {
  font-size: 14px;
  color: #6d6d6d;
}
.blog-page-section .comment-area-section .comment-inner-box .comment-author-text p {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.blog-page-section .comment-area-section .comment-inner-box .comment-author-text .reply-btn a {
  color: #fff;
  border-radius: 20px;
  padding: 0px 10px;
  display: inline-block;
  background-color: #ff4c60;
}

