/*=================================================================*/
/*                      HELPER                              
/*=================================================================*/
.help-block.with-errors {
  color: red;
  font-size: 12px;
  padding-left: 30px;
}
.help-block.with-errors ul {
  margin-bottom: 0;
}
.help-block.with-errors ul li {
  color: #FF4C60;
  font-weight: 500;
}

.spacer {
  clear: both;
  background: transparent;
}
.spacer.light {
  background: transparent;
}

.text-link {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

#infscr-loading {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 10px;
}

#infscr-loading img {
  display: none;
}

.fa-spinner {
  margin-right: 10px;
  display: none;
}

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.scroll-down span {
  color: #FFF;
}
.scroll-down .mouse {
  border-color: #FFF;
}
.scroll-down .mouse .wheel {
  background: #FFF;
}
.scroll-down.light span {
  color: #454360;
}
.scroll-down.light .mouse {
  border-color: #353353;
}
.scroll-down.light .mouse .wheel {
  background: #353353;
}

@-webkit-keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
.mouse-wrapper {
  color: #FFF;
  font-size: 14px;
  display: block;
  max-width: 100px;
  margin: auto;
  text-align: center;
}
.mouse-wrapper:hover {
  color: #FFF;
}

.mouse {
  border: solid 2px #FFF;
  border-radius: 16px;
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 26px;
  position: relative;
  width: 20px;
}
.mouse .wheel {
  background: #e0e5ec;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 4px;
  -webkit-animation: ani-mouse 2s linear infinite;
  animation: ani-mouse 2s linear infinite;
}
.content .row,
.content .load-more {
  padding-bottom: 20px;
}

.circle {
  border-radius: 100%;
}

footer.footer {
  background: #353353;
  padding: 40px 0;
  text-align: center;
}
footer.footer .copyright {
  color: #9C9AB3;
  font-size: 14px;
}
footer.footer.light {
  background: #e0e5ec;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
}

