/*=================================================================*/
/*                      DARK MODE                              
/*=================================================================*/
body.dark {
  color: #FFF;
  background-color: #353353;
}
body.dark .section-title {
  color: #FFF;
}
body.dark .section-title:before {
  background: url("../../images/dots-bg-light.svg");
}
body.dark .bg-dark {
  background: #302f4e !important;
}
body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6 {
  color: #FFF;
}
body.dark .triangle-top:before {
  border-bottom-color: #302f4e;
}
body.dark .timeline.exp .timeline-container::after, body.dark .timeline.edu .timeline-container::after {
  /* background: #302f4e; */
  background: #353353;
}
body.dark .portfolio-filter li {
  color: #FFF;
}
body.dark a:hover {
  color: #FFF;
}
body.dark .portfolio-filter li.current {
  color: #FF4C60;
}
body.dark .blog-item .details h4.title a {
  color: #FFF;
}
body.dark .blog-item .details h4.title a:hover {
  color: #FF4C60;
}
body.dark .contact-info {
  background-image: url("../../images/map-light.png");
}
body.dark .white-popup {
  background: #302f4e;
}
body.dark footer.footer {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}
body.dark .content-blog,
body.dark .blog-page-section {
  background: #353353;
}
body.dark .bg-surface {
  background-color: #353353;
}
body.dark section#projects {
  background: #353353;
}
body.dark .blog-standard .meta li a, body.dark .blog-standard .title a, body.dark .comment-author .fn {
  color: #fff;
}
body.dark .blog-page-section .blog-pagination ul li {
  background-color: #302f4e !important;
}
body.dark .blog-page-section .blog-single {
  background-color: #302f4e !important;
}

